<div class="manege">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2><span class="text-pipe"></span>Want to do</h2>

      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <span class="item">{{ item }}</span>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2><span class="text-pipe"></span>Done</h2>

      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of done" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
