.mat-toolbar {
    background: #02212e;
}

.app-container {
    position: relative;
    width: 100%;
    /* 画面の高さ = ディスプレイの高さ：100vh - ツールバーの高さ：65px */
    min-height: calc(100vh - 64px);
    background: url("..//assets/images/background.png") center / cover;
    background-size: contain;
}

.menuButton {
    padding-top: 15px;
    padding-left: 50px;
}

.mat-stroked-button {
    font-family: NotesESABold, sans-serif!important;
    font-size: large;
    margin-left: 10px;
}

.test {
    flex: 1;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
