.mat-toolbar {
    height: 64px;
    background: #02212e;
}

.toolBarTitle {
    font-weight: 900;
}

.toolBarTitle2 {
    color: #b56ed1;
}

.app-container {
    position: relative;
    width: 100%;
    /* 画面の高さ =
    ディスプレイの高さ：100vh - ツールバーの高さ：65px - フッターの高さ：25px*/
    min-height: calc(100vh - 64px - 25px);
    background: url("..//assets/images/background.png") center / cover;
    background-size: contain;
}

.menuButton {
    padding-top: 15px;
    padding-left: 50px;
}

.test {
    flex: 1;
}

.tool-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    height: calc(100vh - 64px -25px);
}

.footer {
    height: 25px !important;
    text-align: center;
    color: white;
    background: #02212e;
}